@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* body CSS */

* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ************** TOP CSS **************** */

/* image CSS  */

.wallpaper {
    background-image: linear-gradient(to bottom, rgba(157, 14, 14, 0), #502b2b), url("homepage.png");
    height: 480px;
    width: 100%;
}

/* login link CSS  */

.login {
    position: absolute;
    top: 4%;
    right: 4%;
}

#login-link {
    color: #fff;
    margin: 10px;
    text-decoration: none;
}

#signup-link {
    color: #fff;
    text-decoration: none;
    padding: 12px 10px 11px 10px;
    border-radius: 3px;
    border: solid 1px #ffffff;

}

/* Logo area  */

.logo {
    width: 147px;
    height: 147px;
    border: solid 1px #707070;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    margin: 5% 40%;
    padding-top: 18px;
}

#logo-text {
    font-size: 70px;
    font-weight: 600;
    color: #eb2929;
}

.heading-1 {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}

.location-search {
    outline: none;
    width: 245px;
    height: 60px;
    background-color: #ffffff;
    margin: 10px 15px 10px 170px;
}

.restro-search {
    margin: 10px 15px 10px 10px;
    outline: none;
    width: 477px;
    height: 60px;
    background-color: #ffffff;
}

/* mid part  */

/* quick searches heading  */

#heading-2 {
    margin: 30px 151px 7px 35px;
    font-size: clamp(1.6rem, 2.5vw, 2rem); 
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
}


#heading-3 {
    font-size: clamp(1rem, 1.5vw, 1.5rem); 
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #8c96ab;
    margin: 10px 51px 7px 35px;
}


/* rectangle boxes  */

.rect {
    width: 360px;
    height: 160px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;  
}

.qs-image {
    width: 160px;
    height: 160px;
    margin-left: -12px;
    object-fit: cover;
    margin-top: -65px;
}

.qs-text {
    width: 88px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #192f60;
    margin: 15px 0px 4px 20px;
    top: 2%;
}

.qs-text1 {
    width: 130px;
    height: 62px;
    margin: 5px 0px 4px 20px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #8c96ab;
}
/* row class from bootstrap  */

.row {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

@media only screen and (max-width: 600px) 
{
    .logo {
        width: 100px;
        height: 100px;
        border: solid 1px #707070;
        background-color: #ffffff;
        border-radius: 50%;
        text-align: center;
        margin-top: 23%;
        padding-top: 13px;
    }

    #logo-text {
        font-size: 50px;
        font-weight: 600;
        color: #eb2929;
    }

    .heading-1 {
        color: #fff;
        font-size: 26px;
        font-weight: 600;
    }

    .location-search {
        outline: none;
        width: 340px;
        height: 50px;
        background-color: #ffffff;
        margin: 10px auto;
    }
    
    .restro-search {
        margin: 10px auto;
        outline: none;
        width: 340px;
        height: 50px;
        background-color: #ffffff;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
    .logo {
        width: 115px;
        height: 115px;
        border: solid 1px #707070;
        background-color: #ffffff;
        border-radius: 50%;
        text-align: center;
        margin: 10% 40% 5% 40%;
        padding-top: 13px;
    }

    #logo-text {
        font-size: 60px;
        font-weight: 600;
        color: #eb2929;
    }

    .heading-1 {
        color: #fff;
        font-size: 32px;
        font-weight: 600;
    }

    .location-search {
        outline: none;
        width: 340px;
        height: 60px;
        background-color: #ffffff;
        margin: 5px auto;
    }
    
    .restro-search {
        margin: 5px auto;
        outline: none;
        width: 540px;
        height: 60px;
        background-color: #ffffff;
    }
}